$o-community-color: #1577ff;
$o-brand-primary: #1577ff;
$o-brand-secondary: #0d2a5a;
$o-action: #2d87ff;
$o-main-link-color: #1577ff;
$o-enterprise-primary-color: #1577ff;
$o-enterprise-action-color: #2d87ff;
$o-navbar-background: #071024;
$o-navbar-entry-color: #f7f7ff;
$o-view-background-color: #f7f8fc;
$o-border-color: #e4e5f0;
$o-form-lightsecondary: #f0f0f8;
$o-list-footer-bg-color: #f0f0f8;


