$o-community-color: #714b67;
$o-brand-primary: #714b67;
$o-brand-secondary: #017e84;
$o-action: #017e84;
$o-main-link-color: #017e84;
$o-enterprise-primary-color: #714b67;
$o-enterprise-action-color: #017e84;
$o-navbar-background: #ffffff;
$o-navbar-entry-color: #374151;
$o-view-background-color: #f4f5f6;
$o-border-color: #e4e5f0;
$o-form-lightsecondary: #f0f0f8;
$o-list-footer-bg-color: #f0f0f8;


